.main_container
{
	background-color: red;

}

.sub_container
{
	margin-top: 20px;
	margin: 50px;
	background-color: red;
	padding: 20px;
	margin: 50px;
	width: 700px;
	align-self: center;
	text-align: center;
	vertical-align: center;
	margin: 0 auto;
	border-radius: 20px;
}